@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-primaria: #0099cc; /*Definindo cor primaria*/
    --cor-secundaria: #666;
    --cor-fundo: #f2f2f2;
    --cor-texto: #333;
    --cor-texto: rgba(26, 26, 26, 0.3);
    --cor-branca: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.conteiner {
    display: flex;
}
/* Define display, justifica e alinha conteúdo centralizado para elementos com a classe "corpo" */
.corpo {
    display: flex; /* Define o display como flexbox */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    font-family: 'Righteous', cursive; /* Define a fonte para 'Righteous' */
  }
  
/* Define o layout para exibir livros */
.mostrarLivros {
    flex-wrap: wrap; /* Permite que o conteúdo se quebre em múltiplas linhas */
    justify-content: space-evenly; /* Distribui o conteúdo com espaço entre os itens */
    align-items: center; /* Alinha itens no centro verticalmente */
    height: 100%; /* Define a altura como 100% */
}

/* Define largura, altura, tamanho de fundo e sombra para elementos com a classe "livros" */
.livros {
    width: 15vw; /* Define a largura como 15% da viewport */
    height: 23vw; /* Define a altura como 23% da viewport */
    background-size: cover; /* Redimensiona o fundo para cobrir o elemento */
    box-shadow: 5px 5px 7px rgb(26,26,26); /* Adiciona sombra ao elemento */
}

/* Define a fonte, margem esquerda e margem inferior para elementos com a classe "titulo" */
.titulo {
    font-family: 'Amatic SC', cursive; /* Define a fonte para 'Amatic SC' */
    margin-left: 32px; /* Adiciona margem à esquerda */
    margin-bottom: 20px; /* Adiciona margem inferior */
}